.marker {
  background: #f0f0f0;
  border-radius: 50%;
  border: 4px;
  border-color: #2a2a2a;
  height: 48px;
  width: 48px;
}

.marker-icon {
  background-image: url("../../../public/profile-picture-small.jpeg");
  background-position: center;
  background-size: 44px 44px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
