@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 152, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  :root {
    --primary-color: 96.32% 3.26 48.73;
    --accent-color: 88.52% 8.51 142.57;
    --accent-color-2: 86.13% 20.66 18.54;
    --text-color-1: 5% 0 0;
    --text-color-2: 5% 0 0;
    --background-color-1: 95% 0 0;
    --background-color-2: 95% 0 0;
  }
}

@layer components {
  .grid-cell {
    @apply rounded-3xl bg-primary/80 transition-all duration-500;
  }

  .selected-grid-cell {
    @apply transition-none duration-0;
  }
}
