@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-semibold text-text;
    font-family: var(--font-eczar);
  }

  h2 {
    @apply text-2xl text-text;
    font-family: var(--font-eczar);
  }

  p {
    @apply text-base leading-relaxed text-text;
    font-family: var(--font-noto-sans);
  }

  html,
  body {
    @apply bg-background;
    @apply h-screen;
  }

  :root {
    --primary-color: 74.45% 0.15500952743196372 21.503538285117237;
    --accent-color: 88.34% 0.09080831491816366 71.0205749867438;
    --accent-color-2: 97.47% 0.075 113.39;
    --text-color: 5% 0 0;
    --subtext-color: 55% 0 0;
    --background-color: 96.87% 0.009 44.89;
    --content-bg-color: 100% 0 0;
    --border-color: 100% 0 0;
    --button-border-color: 80% 0 0;
    --button-ring-color: 70% 0 0;
    --invert-border-color: 5% 0 0;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --primary-color: 74.45% 0.15500952743196372 21.503538285117237;
      --accent-color: 88.34% 0.09080831491816366 71.0205749867438;
      --accent-color-2: 97.47% 0.075 113.39;
      --text-color: 5% 0 0;
      --subtext-color: 55% 0 0;
      --background-color: 96.87% 0.009 44.89;
      --content-bg-color: 100% 0 0;
      --border-color: 100% 0 0 0;
      --button-border-color: 80% 0 0;
      --button-ring-color: 70% 0 0;
      --invert-border-color: 5% 0 0;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary-color: 65.31% 0.175 45.03;
      --accent-color: 36.47% 0.135 18.46;
      --accent-color-2: 83.52% 0.158 119.1;
      --background-color: 15.29% 0.01 255.44;
      --content-bg-color: 17.63% 0.014 258.36;
      --border-color: 33% 0.015 252.31;
      --text-color: 100% 0 0;
      --button-border-color: 30% 0 0;
      --button-ring-color: 70% 0 0;
      --subtext-color: 55% 0 0;
    }
  }

  :root[data-theme="light"] {
    --primary-color: 74.45% 0.15500952743196372 21.503538285117237;
    --accent-color: 88.34% 0.09080831491816366 71.0205749867438;
    --accent-color-2: 97.47% 0.075 113.39;
    --background-color: 96.87% 0.009 44.89;
    --content-bg-color: 100% 0 0;
    --border-color: 100% 0 0;
    --button-border-color: 80% 0 0;
    --button-ring-color: 70% 0 0;
    --text-color: 5% 0 0;
    --subtext-color: 55% 0 0;
  }

  :root[data-theme="retro"] {
    --primary-color: 62.64% 0.103 184.85;
    --accent-color: 74.15% 0.157 64.73;
    --accent-color-2: 59.11% 0.192 29.3;
    --background-color: 96.87% 0.009 44.89;
    --content-bg-color: 100% 0 0;
    --border-color: 100% 0 0;
    --text-color: 5% 0 0;
    --subtext-color: 55% 0 0;
    --button-border-color: 80% 0 0;
    --button-ring-color: 70% 0 0;
  }

  :root[data-theme="dark"] {
    --primary-color: 65.31% 0.175 45.03;
    --accent-color: 36.47% 0.135 18.46;
    --accent-color-2: 83.52% 0.158 119.1;
    --background-color: 15.29% 0.01 255.44;
    --content-bg-color: 17.63% 0.014 258.36;
    --border-color: 33% 0.015 252.31;
    --button-border-color: 30% 0 0;
    --button-ring-color: 70% 0 0;
  }

  :root[data-theme="neon"] {
    --primary-color: 83.04% 0.146 74.35;
    --accent-color: 70.35% 0.186 352.22;
    --accent-color-2: 79.34% 0.128 203.85;
    --background-color: 15.29% 0.01 255.44;
    --content-bg-color: 17.63% 0.014 258.36;
    --border-color: 33% 0.015 252.31;
    --button-border-color: 30% 0 0;
    --button-ring-color: 70% 0 0;
  }
}
