@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 200, 200, 200; 
}

body {
  font-family: 'Verdana', sans-serif; /* Set a readable font family */
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  line-height: 1.6; 
  font-size: 14px; 
}

.no-tailwind *,
.no-tailwind *:before,
.no-tailwind *:after {
  all: revert;
}

.markdown-content {
  max-width: 800px; 
  margin: auto; 
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  padding: 0 2rem; 
}

.markdown-content img {
  max-width: 100%;
  height: auto;
}

.markdown-content pre {
  overflow-x: auto;
}

.markdown-content code {
  white-space: pre;
  overflow-x: auto;
}

.clickable-item {
  cursor: pointer;
}

img[alt$="><"] {
  display: block;
  max-width: 50%;
  height: auto;
  margin: auto;
  float: none!important;
}
